# pandasの復習

[![Open In Colab](https://colab.research.google.com/assets/colab-badge.svg)](https://colab.research.google.com/github/shinchu/dataviz-notebooks/blob/main/week_3/pandas-review.ipynb)

練習問題は、[gotty21/basic_pandas-64-knocks](https://github.com/gotty21/basic_pandas-64-knocks)をから抜粋しました。

講義で習っていない部分は、公式ドキュメントを調べてみてください。

* [10 minutes to pandas](https://pandas.pydata.org/docs/user_guide/10min.html)
* [pandas documentation](https://pandas.pydata.org/docs/index.html)

## 事前準備

データフレームを初期化するための関数`initialize()`を作ります。作業前にこの2つのセルを実行しましょう。

`openpyxl`はExcelファイルの読み込みに必要です。必要に応じてインストールしてください。

In [ ]:
!pip install openpyxl

In [1]:
import pandas as pd

def initialize(flag=0):
    if flag == 0:
        return pd.read_csv("https://raw.githubusercontent.com/shinchu/dataviz-notebooks/main/data/week_3/main.csv")
    if flag == 1:
        return pd.read_csv("https://raw.githubusercontent.com/shinchu/dataviz-notebooks/main/data/week_3/add.csv")
    if flag == 2:
        return pd.read_excel("https://github.com/shinchu/dataviz-notebooks/blob/main/data/week_3/data.xlsx?raw=true")
    else:
        print("Please specify numbers between 0 to 2.")
        return None

## データの読み込み・確認

### pandasインポート

【演習】pandasライブラリをpdという名前でインポートしてください

In [2]:
# your code goes here

### csvファイルの読み込み

【演習】

URL: https://raw.githubusercontent.com/shinchu/dataviz-notebooks/main/data/week_3/main.csv

上記URLからmain.csvを読み込んでデータフレームを作成し、dfという変数に格納してください

In [4]:
# your code goes here

【演習】

URL: https://raw.githubusercontent.com/shinchu/dataviz-notebooks/main/data/week_3/add.csv

上記URLからadd.csvを読み込んでデータフレームを作成し、addという変数に格納

In [5]:
# your code goes here

### DataFrameのサイズの確認

【演習】dfのサイズを確認してください。

In [ ]:
# 次の一行でデータフレームdfを初期化します。演習を行う前に都度実行してください。

df = initialize(0)

In [8]:
# your code goes here

### DataFrameのレコード数の確認

【演習】dfのレコード数を確認してください。

In [ ]:
df = initialize(0)

In [10]:
# your code goes here

## ラベル

### DataFrameのカラム名の取得

【演習】dfのcolumn名をリスト形式で取得してください。

In [9]:
df = initialize(0)

In [11]:
# your code goes here

### DataFrameのカラム名の一部を変更

【演習】dfのcolumn名CODE_GENDERをGENDERに変更してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

### DataFrameのカラム名をすべて変更

【演習】column名をno1～no11というstr型の名前に変更してください。「リスト内包表記」を使用すると簡単です。調べてみてください。

In [10]:
df = initialize(0)

In [12]:
# your code goes here

## 各列のデータの確認

###  任意の列のユニーク（一意）な要素を確認

In [ ]:
df = initialize(0)

【演習】dfのCODE_GENDER列のユニークな要素を確認してください。

In [12]:
# your code goes here

### 各列のユニークな要素の数を確認

【演習】dfの各列のユニークな要素の数を出力してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

### 任意の列のユニークな要素の数とその出現回数を確認

【演習】dfのCNT_CHILDREN列の要素とその出現回数を確認してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

## データの取り出し

### 任意の１つの列の取り出し

【演習】dfのTARGETの列のみ表示してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

【演習】dfの左から3番目の列のみ表示してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

### 複数の列の取り出し

【演習】dfのTARGET列とCODE_GENDER列のみ表示してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

【演習】dfのTARGET列とCODE_GENDER列までの列を表示してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

### 条件検索

【演習】CODE_GENDER列が'F'かつAMT_INCOME_TOTAL列が500000以上のデータポイントを表示してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

## ソート

### 任意の一列で昇順ソート

【演習】dfのAMT_INCOME_TOTALの列で昇順ソートして表示してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

### 任意の一列で降順ソート

【演習】dfのAMT_INCOME_TOTALの列で降順ソート表示してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

## 統計量

### 基本統計量

【演習】dfのAMT_INCOME_TOTAL列の平均、中央値、合計、最大値、最小値、最頻値をそれぞれ出力してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

### 要約統計量

【演習】dfのAMT_INCOME_TOTAL列の要約統計量を出力してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

### groupby

【演習】dfのCODE_GENDERで集約し、それぞれのAMT_INCOME_TOTALの最大値を出力してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

【演習】dfのCODE_GENDERごとにNAME_CONTRACT_TYPEで集約し、各グループ内の平均と分散を出力してください。また、出力を見やすくするためにindexをリセットしてください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here

## ファイル出力

### csvファイルに出力

【演習】dfを、行番号、列番号なしでoutput.csvという名前で出力してください。

In [ ]:
df = initialize(0)

In [12]:
# your code goes here